<app-navbar></app-navbar>
<h1 class="text-center">Listado de Productos</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table text-center table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clothes of allClothes">
            <td>{{ allClothes.indexOf(clothes) + 1 }}</td>
            <td>{{ clothes.tipo }}</td>
            <td>{{ clothes.descripcion }}</td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic mixed styles example"
              >
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="doSeeProduct(clothes._id)"
                >
                  Ver
                </button>
                <button
                  type="button"
                  class="btn btn-warning"
                  (click)="doEditProduct(clothes._id)"
                >
                  Editar
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#modalBorrar"
                  (click)="establecerAtributo(clothes._id)"
                >
                  Borrar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- MODAL BORRAR -->
<div
  class="modal fade"
  id="modalBorrar"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ELIMINAR</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro que deseas eliminar el producto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Volver
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="btn-eliminar-producto"
          (click)="doDeleteProduct()"
          data-bs-dismiss="modal"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
